<header>
  <div class="logo">
    <a href="/">Tech Blog</a>
  </div>

  <!-- Navigation Bar -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      {{#if logged_in}} <!-- Conditional to show links when logged in -->
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>